/* Add your custom styles here if needed */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  background-color: rgba(188, 196, 196, 0.295);
  text-align: justify;
}

/* First Navbar */
/* .navbar-first {
  background-color: #e9ecef; 
}

.navbar-first .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-first .nav-link {
  padding: 0.5rem 1rem;
}

.navbar-first .form-inline {
  display: flex;
  align-items: center;
} */

/* Second Navbar */
.navbar-second {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-hover:hover {
  color: #fff;
  background-color: #0275d8;
  border-radius: 5px;
  padding: 5px 10px;
}

#hero {
  /* background-image: url("../images/main-banner.jpg");
  background-size: cover;
  background-position: center; */

  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
  padding: 100px 0;

  /* height: 700px; */
  /* Additional styling for text and content within the hero section */
  color: #080808;
  /* opacity: 0.8; */
  text-align: center;
  padding: 100px 20px; /* Adjust padding as needed */
  font-family: "Times New Roman", Times, serif;

  font-weight: 550;
}

@media (max-width: 991.98px) {
  .hero-section {
    padding: 80px 0; /* Adjust padding for medium-sized screens */
  }
}

@media (max-width: 767.98px) {
  .hero-section {
    padding: 60px 0; /* Adjust padding for smaller screens */
  }
}
/* Form Container Styles */
.form-container {
  background-color: rgba(
    165,
    165,
    165,
    0.224
  ); /* Set a slightly transparent white background */
  border-radius: 15px; /* Set border radius */
  /*border: 1px solid #3a4d7c; /* Set border color */
  box-shadow: 0 4px 8px rgba(58, 77, 124, 0.2); /* Set shadow effect */
  padding: 20px; /* Add padding to the form container */
}

/*background-color: E5E6E4;*/

.main {
  background-color: #f8f8f8; /* Set background color for the main section */
  padding: 40px;
}
.containerfor-univ-logo {
  padding: 20px;
  margin: 30px;
  margin-bottom: 0px;
}
/* Logos Container Styles */
.logos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Logo Styles */
.logo {
  width: 100px; /* Set the width of each logo */
  height: auto;
  transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
}

/* Hover Effect for Logos */
.logo:hover {
  transform: translateY(
    -15px
  ); /* Adjust the translateY value for the desired upward movement */
}

/* Trusted By Content Styles */
.trusted-by {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #3498db;
  color: #080808;
  transition: transform 0.5s ease-in-out; /* Add a smooth transition effect */
  padding: 10px;
}

/* Additional Style for Zoom Effect when Active */
.trusted-by.active {
  transform: scale(
    1.04
  ); /* Adjust the scale value for the desired zoom level */
}

/* Container for About Us with shadow and hover effect */
/* .container-for-aboutus {
  margin-top: 50px; 
  padding: 40px;
  box-shadow: 0 4px 8px #2c539a; 
  transition: transform 0.3s ease-in-out; 
  border-radius: 25px;
  background-image: url(../images/v915-techi-020.jpg);
  background-size: cover;
  background-position: left;
} */
.main {
  background-image: radial-gradient(
    circle farthest-corner at 1.3% 2.8%,
    rgba(239, 249, 249, 1) 0%,
    rgba(182, 199, 226, 1) 100.2%
  );
}

/* Hover effect when scrolling */
.container-for-aboutus:hover {
  outline: none; /* Remove default focus outline */
  transform: scale(1.02); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

/* Centering the container */
.center-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

/* About Us section styles */
.about-us-text {
  text-align: justify;
}
.about-section {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}
.about-us-heading {
  position: relative;
}

.about-us-heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: #ff9e0cde;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Adjust styling as needed
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  font-size: 24px;
  color: black;
  z-index: -1;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
} */

.card-container {
  display: flex;
  overflow-x: auto;
}
.card {
  width: 50rem; /* Adjust the width as needed */
}

.help-subjects-container {
  padding: 20px;
  margin-top: 0px;
  background-image: linear-gradient(
    109.6deg,
    rgba(48, 207, 208, 1) 11.2%,
    rgba(51, 8, 103, 1) 92.5%
  );
}
.help-subjects-container .row {
  display: flex; /* Ensure cards are displayed side-by-side */
  flex-wrap: wrap; /* Allow cards to wrap onto multiple lines on smaller screens */
}

.help-subjects-container .col-12 {
  margin-bottom: 15px; /* Add bottom margin to create spacing between cards */
}

.help-subjects-container .card {
  width: 100%; /* Ensure cards take full width on smaller screens */
  margin-right: 10px; /* Add right margin to create horizontal spacing */
}

@media (min-width: 768px) {
  /* Adjust layout for medium and larger screens */
  .help-subjects-container .col-md-5 {
    width: 50%; /* Make each card take up half the width */
    margin-right: 0; /* Remove the right margin on larger screens */
  }
}
.text-help-subject {
  font-family: "Times New Roman", Times, serif;
  font-style: unset;
  font-size: 23px;
  text-align: center;
  color: black;
  font-weight: semi-bold;
  margin: 20px;
}
.half-oven {
  width: 50%;
}

.why-us {
  padding: 20px;
  margin-top: 0px;
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}
.why-us .row {
  display: flex; /* Ensure cards are displayed side-by-side */
  flex-wrap: wrap; /* Allow cards to wrap onto multiple lines on smaller screens */
}

.why-us .col-12 {
  margin-bottom: 15px; /* Add bottom margin to create spacing between cards */
}

.why-us .card {
  width: 100%; /* Ensure cards take full width on smaller screens */
  margin-right: 10px; /* Add right margin to create horizontal spacing */
  border-radius: 50px;
}

@media (min-width: 768px) {
  /* Adjust layout for medium and larger screens */
  .why-us .col-md-5 {
    width: 50%; /* Make each card take up half the width */
    margin-right: 0; /* Remove the right margin on larger screens */
  }
}

.text-why-us {
  font-family: "Roboto", sans-serif;
  font-style: unset;
  font-size: 23px;
  text-align: center;
  color: black;
  font-weight: semi-bold;
  margin: 20px;
}

.text-help-subject {
  position: relative;
  text-align: center;
  font-size: 25px;
  margin: 20px;
  color: #212529;
  font-weight: bold;
}

.text-help-subject::after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background-color: #ff9e0cde;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.intense-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Adjust the values as needed */
}

.why-us-heading {
  position: relative;
  text-align: center;
  font-size: 22px;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  color: #212529;
  font-weight: bold;
}

.why-us-heading::after {
  content: "";
  display: block;
  width: 220px;
  height: 2px;
  background-color: #ff9e0cde;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.why-us-title {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: #001f3f; /* Dark gray text color */
  font-weight: 550;
}
.why-us-text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.9px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contact-us-heading {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #212529;
  margin: 20px;
  font-weight: bold;
}

.contact-us-heading {
  position: relative;
  text-align: center;
  font-size: 25px;
  margin: 20px;
}

.contact-us-heading::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #ff9e0cde;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 14px;
  background: #ffffff;
  margin-top: 20px;
  padding: 20px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
  margin-top: 10px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5c6161;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 13px;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}
